.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-bg-light: #fff;
  --color-text-light: #222;
  --color-bg-dark: #222; 
  --color-text-dark: #fff;
}

.light-mode {
  background: var(--color-bg-light);
  color: var(--color-text-light);
}

.dark-mode {
  background: var(--color-bg-dark);
  color: var(--color-text-dark);
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.integral-box {
  display: flex;
  background: #fff;
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  width: 100vh;
  height: 50vh; 
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.katex-html {
  visibility: hidden;
}

.integral-content {
  margin-top: 20px; 
}